.frame {
  background: url(https://images.unsplash.com/photo-1612709060522-c989fca3b084?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80)
    no-repeat center center/cover;
  width: 100%;
  height: 400px;
}

.context {
  color: white;
  background-color: yellow;
  border: 2px solid yellow;
}

.con-large {
  background: url(https://images.unsplash.com/photo-1612709060522-c989fca3b084?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80)
    no-repeat center center/cover;
  width: 100%;
  height: 700px;
}

.colorful {
  background-color: #db8925;
  width: 80%;
  height: 600px;
  position: relative;
  top: 10%;
  left: 10%;
}

#colorful-text {
  text-align: center;
  padding-top: 3rem;
}

#con-footer {
  width: 100%;
  height: 50px;
  background-color: #040a59;
  color: #fff;
  margin-top: -1.3rem;
}

.span-footer {
  display: flex;
}
